body
{
	padding:10px;
    margin:40px;
    font-size: 24px;
   font-family: 'Fredoka One', cursive;
    background-image: url(https://fondosmil.com/fondo/10888.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
}

nav
{
    background-color: transparent;
	padding: 0px;
	color: #9bbbec;
}